{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>О проекте</title>
		<link rel="stylesheet" href="styles.css">
	</head>
		<body>
			<div class="wrapper">
				
				<main class="about">	
					<center>
					<p>Данный сайт предназначен для того, чтобы пользователь мог подобрать интересующий его автомобиль с пробегом по заданным характеристикам.</p>
					<p>Cайт был выполнен в рамках проекта по предмету УПП</p>
					<p>студентами группы ПРО-328:</p>
					<p>Гареев Ильяс Ильдарович</p>
					<p>Смирнов Максим Алексеевич</p>
					<p>Гордеева Софья Алексеевна</p>
				</center>
				</main>
			</div>
		</body>
</html>
{% endblock %}