{% extends "layout.html" %}

{% block content %}

<div class="wrapper">
    <main>
        <h2>Над этим проектом работали:</h2>
        <p><a href="https://vk.com/vadim_25_official">Желудковъ Вадимъ Дмитрiевичъ</a></p>
        <p><a href="https://vk.com/enderoc">Махмутов Амаль Данирович</a></p>
        <p><a href="https://vk.com/id211689552">Исланов Алмаз Вадимович</a><p>
        <p><a href="https://vk.com/den_kalorodfs">Кадыров Денис Назирович</a></p>
    </main>
</div>

{% endblock %}