<html>

<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/static/stylesheets/styles.css">
		<script type="text/javascript" src="/static/javascripts/jquery-3.6.0.min.js"></script>
</head>
		<body>
			<div class="container">
				<header1>
							<div></div>
							<div></div>				
							<h1>Подбор автомобиля с пробегом</h1>
							<a class="link1" href="registr.html">Регистрация</a>
				</header1>
			</div>
			<div class = "wrapper">	
				<main id="{{page_name}}">
				</main>
			</div>
            <div class="wrapper">				
				<main class="glavn">	
					<center>
                        <p>Приветствуем вас на нешем сайте!</p>
                        <p>Данный сайт поможет вам с поиском автомобиля.</p>
                        <p>Вы сможете выбрать интересующий вас автомобиль по параметрам.</p>
                        <p>После выбора составьте заявку.</p>
                    </center>
            </div>
            <center>
                <a class="link1" href="index.html">Начать</a>
            </center>                               
				</main>	
			<script type="text/javascript" src="/static/javascripts/topmenu.js"></script>
			<script type="text/javascript" src="/static/javascripts/jqfunc.js"></script>
		</body>
</html>







